<div class="container">
	<legend>Password Reset</legend>
	<p class="alert alert-warning" data-ng-show="error" ng-bind-html="error"></p>
	<p class="alert alert-success" data-ng-show="success" ng-bind-html="success"></p>
	
	<form class="form" data-ng-submit="sendPasswordResetEmail()" novalidate>
		<div class="form-group">
			<div class="row">
				<div class="col-xs-12">
					<input type="email" class="form-control" data-ng-model="user.email" placeholder="Email Address"/>
				</div>
			</div>
		</div>
		<div class="form-group">
            <div class="row">
                <div class="col-xs-6">
					<input type="submit" class="btn btn-primary btn-block" value="Reset" > 
				</div>
                <div class="col-xs-6">
					<a href="#/" class="btn btn-default btn-block">Cancel</a>
				</div>
                
            </div>
		</div>
        
	</form>
	
</div>