<div class="container" ng-show-auth ng-cloak-auth="login">
	<div style="max-width:800px">
		<panel panel-class="panel-midnightblue" heading="{{header}}" >
			<p class="error alert alert-warning" data-ng-show="error" ng-bind-html="error"></p>
			<p class="alert alert-success" data-ng-show="success" ng-bind-html="success"></p>

			<!--Sign Up Form-->

			<form class="form" data-ng-submit="register()" novalidate ng-hide="loginForm">
				<div class="form-group">
					<div class="row">
						<div class="col-xs-6">
							<input type="text" class="form-control" data-ng-model="user.name.first" placeholder="First Name"/>
						</div>
						<div class="col-xs-6">
							<input type="text" class="form-control" data-ng-model="user.name.last" placeholder="Last Name"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-12">
							<input type="email" class="form-control" data-ng-model="user.email" placeholder="Email Address"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-12">
							<input type="password" class="form-control" data-ng-model="user.password" placeholder="Password (8 character minimum)"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-12 checkbox">
							<label class="checkbox-inline">

								<input type="checkbox" data-ng-model="user.tos" ng-true-value="1" ng-false-value="0"/>I agree to the <a href="#/user-agreement">GreekRush User Agreement</a> 
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-6">
							<!-- 							<a class="btn btn-default btn-block" ng-click="toggle()">or <b>Login</b></a> -->
							<a class="btn btn-default btn-block" href="#/login">or <b>Login</b></a>
						</div> 
						<div class="col-xs-6">
							<input type="submit" class="btn btn-primary btn-block" value="Join" > 
						</div>
					</div>
				</div>
			</form>
			<form class="form" data-ng-submit="login()" novalidate ng-show="loginForm">

				<div class="form-group">
					<div class="row">
						<div class="col-xs-12">
							<input type="email" class="form-control" data-ng-model="login.email" placeholder="Email Address"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-12">
							<input type="password" class="form-control" data-ng-model="login.password" placeholder="Password (8 character minimum)"/>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-xs-6">
							<!-- 							<a class="btn btn-default btn-block" ng-click="toggle()">or <b>Join</b></a> -->
							<a class="btn btn-default btn-block" href="#/register">or <b>Join</b></a>
						</div> 
						<div class="col-xs-6 ">
							<input type="submit" class="btn btn-primary btn-block" value="Login" > 
						</div>
					</div>
				</div>
				<div class="form-foot">
					<a href="#/forgotpassword" class="pw-reset">Forgot password?</a>
				</div>
			</form>
		</panel>
		<!--Login Form-->

	</div>
</div>