<div class="container about">
	<div class="subcontainer">
		<div class="row">
			<div class="col-md-12">
				<div class="text">
					<img class="logo-image center-block" src="https://d2zc23renulrga.cloudfront.net/assets/33249/3efc5t0g14ikqkcdfs2z/png_logo - orange - a.png" alt="GreekRush">
					<div id="description" data-mercury="wysihat" data-content-name="description">
						<h1 class="text-center">Our Model is Simple</h1>

						<h2 class="text-center">Connect Students, Save Time, Change the World</h2>

						<p class="lead">GreekRush is building the best way for undergraduate students to interact. We’re bringing the world’s finest community of young scholars together, making their lives easier, and allowing them to focus on the things that matter most.</p>
					</div> 
				</div>
			</div>
		</div>
		<div class="row info">
			<div class="col-md-4">
				<div class="span12 text">
					<h2>Be Safe</h2>
					<div class="icon two" >
						<i class="fa fa-5x fa-usd" ></i>
					</div>
					<p class="lead"><span style="font-weight:bold; color:rgba(117, 188, 69,1.0);">Collect</span> payments on a simple, secure platform.</p>
					<p class="lead">
						<span style="font-weight:bold; color:rgba(117, 188, 69,1.0);">Protect</span> chapter assets with financial reports.
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="span12 text">
					<h2>Be Smart</h2>
					<div class="icon one" >
						<i class="fa fa-5x fa-calendar" ></i>
					</div>
					<p class="lead"><span style="font-weight:bold; color:rgba(189, 46, 49,1.0);">Plan Ahead</span> when organizing your events.</p>
					<p class="lead">
						<span style="font-weight:bold; color:rgba(189, 46, 49,1.0);">Update</span> your community with all the dates &amp; details.
					</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="span12 text">
					<h2>Be Social</h2>
					<div class="icon three" >
						<i class="fa fa-5x fa-comments-o" ></i>
					</div>
					<p class="lead">
						<span style="font-weight:bold; color:rgba(52, 152, 219,1.0);">Recruit &amp; Manage</span>         new member classes.</p>
					<p class="lead">
						<span style="font-weight:bold; color:rgba(52, 152, 219,1.0);">Interact             </span> nationally on the first All-Greek Network.
					</p>
				</div>
			</div>
		</div>

		<!-- 		<p><strong>Be Safe</strong><br />
Collect payments on a simple, secure platform.
Protect chapter assets with financial reports.</p>

<p><strong>Be Smart</strong><br />
Plan ahead when organizing your events.
Update your community with every date & detail.</p>

<p><strong>Be Social</strong><br />
Recruit & Manage new member classes.
Interact nationally on the first Greek Network.</p>
<br /> -->
		<p class="text">Contact us at <a href="mailto:info@greekrush.com" target="_blank">info@greekrush.com</a></p>
	</div>
</div>