</td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </table>
                                    <!-- // END BODY -->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">
                                    <!-- BEGIN FOOTER // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter">
                                        <tr>
                                            <td valign="top" class="footerContainer" style="padding-bottom:9px;"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td valign="top" class="mcnTextBlockInner">
                
                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
                        
                            <p style="text-align:right; background-color:#dddddd; padding:10px"><a href="https://facebook.com/greekrush"><img src="https://gallery.mailchimp.com/a21fbfb2ad46d65c0f4dfb5f6/images/92fa228e-57fb-410b-86e1-4dc4b721551b.png"></a> <a href="https://plus.google.com/+GreekrushPlus"><img src="https://gallery.mailchimp.com/a21fbfb2ad46d65c0f4dfb5f6/images/95d13cc9-d88f-441e-ae83-b74e17651429.png"></a> <a href="https://instagram.com/greek_rush"><img src="https://gallery.mailchimp.com/a21fbfb2ad46d65c0f4dfb5f6/images/2928fe64-0bfb-4f17-b558-03b63d98459b.png"></a> <a href="https://pinterest.com/greekrush"><img src="https://gallery.mailchimp.com/a21fbfb2ad46d65c0f4dfb5f6/images/2e432ac4-e7a7-4ee4-ad5f-cb976f82381b.png"></a> <a href="https://twitter.com/greek_rush"><img src="https://gallery.mailchimp.com/a21fbfb2ad46d65c0f4dfb5f6/images/8abf45f5-f8bf-45ff-bb58-00a73101a3df.png"></a></p>
<em>Copyright © *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved.</em><br>
*|IFNOT:ARCHIVE_PAGE|* *|LIST:DESCRIPTION|*<br>
<br>
<strong>Our mailing address is:</strong><br>
*|HTML:LIST_ADDRESS_HTML|* *|END:IF|*<br>
<br>
<a class="utilityLink" href="*|UNSUB|*">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp; <a class="utilityLink" href="*|UPDATE_PROFILE|*">update subscription preferences</a>&nbsp;<br>
<br>
*|IF:REWARDS|* *|HTML:REWARDS|* *|END:IF|*
                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
    </tbody>
</table></td>
                                        </tr>
                                    </table>
                                    <!-- // END FOOTER -->
                                </td>
                            </tr>
                        </table>
                        <!-- // END TEMPLATE -->
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>